<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gradledemo">


    <application>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="com.example.gradledemo.SecondActivity" />

            </intent-filter>
        </activity>

    </application>

</manifest>